<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение пользователя</title>
</head>
<body>

<form th:method="post" th:action="@{/persons/update/{id}(id=${person.id})}" th:object="${person}">
    <label for="name">Введите имя</label>
    <input type="text" id="name" th:field="*{name}">
    <br/>
    <label for="age">Введите возраст</label>
    <input type="number" id="age" th:field="*{age}">
    <br/>
    <label for="email">Введите почту</label>
    <input type="text" id="email" th:field="*{email}">
    <br/>
    <input type="submit" value="Сохранить данные пользователя">
</form>

<a th:href="@{/persons/{id}/modifyCarAtPerson(id=${person.id})}">Работа с машинами пользователя</a>

<a th:href="@{/persons/{id}/modifyHouseAtPerson(id=${person.id})}">Управление домами пользователя</a>

<h3>Машины, присвоенные пользователю:</h3>
<ul>
    <li th:each="car: ${person.cars}">
        <span th:text="${car.getModel()}"></span>
    </li>
</ul>

<h3>Дома, присвоенные пользователю:</h3>
<ul>
    <li th:each="house: ${person.houses}">
        <span th:text="${house.getHouseName()}"></span>
    </li>
</ul>

</body>
</html>
