<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Modify Car at Person</title>
</head>
<body>

<form th:method="post" th:action="@{/persons/{id}/modifyCarAtPerson(id=${person.id})}" th:object="${person}">
  <label for="name">Person's Name</label>
  <input type="text" id="name" th:value="${person.name}" readonly>
  <br/>
  <label for="car">Select Car</label>
  <select id="car" name="carId">
    <option th:each="car: ${cars}" th:value="${car.id}" th:text="${car.model}"></option>
  </select>
  <input type="hidden" name="id" th:value="${person.id}">
  <br/>
  <input type="submit" value="Присвоить машину">
</form>

<h3>Машины, присвоенные пользователю:</h3>
<ul>
  <li th:each="car: ${person.cars}">
    <span th:text="${car.getModel()}"></span>
    <form th:action="@{'/persons/' + ${person.id} + '/removeCar'}" method="post">
      <input type="hidden" name="carId" th:value="${car.id}">
      <button type="submit">Отобрать машину</button>
    </form>
  </li>
</ul>

</body>
</html>