<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Modify House at Person</title>
</head>
<body>

<form th:method="post" th:action="@{/persons/{id}/modifyHouseAtPerson(id=${person.id})}" th:object="${person}">
  <label for="name">Person's Name</label>
  <input type="text" id="name" th:value="${person.name}" readonly>
  <br/>
  <label for="house">Select House</label>
  <select id="house" name="houseId">
    <option th:each="house: ${houses}" th:value="${house.id}" th:text="${house.address}"></option>
  </select>
  <input type="hidden" name="id" th:value="${person.id}">
  <br/>
  <input type="submit" value="Присвоить дом">
</form>

<h3>Дома, присвоенные пользователю:</h3>
<ul>
  <li th:each="house: ${person.houses}">
    <span th:text="${house.getAddress()}"></span>
    <form th:action="@{'/persons/' + ${person.id} + '/removeHouse'}" method="post">
      <input type="hidden" name="houseId" th:value="${house.id}">
      <button type="submit">Отобрать дом</button>
    </form>
  </li>
</ul>

</body>
</html>