<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о человеке</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Информация о человеке</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Возраст</th>
                <th>Почта</th>
                <th>Машины</th>
                <th>Дома</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${person.id}"></td>
                <td th:text="${person.name}"></td>
                <td th:text="${person.age}"></td>
                <td th:text="${person.email}"></td>
                <td>
                    <ul>
                        <li th:each="car: ${person.cars}" th:text="${car.getModel()}"></li>
                    </ul>
                </td>

                <td>
                    <ul>
                        <li th:each="house: ${person.houses}" th:text="${house.getAddress()}"></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/persons/{id}/edit(id=${person.id})}" class="btn btn-primary">Edit</a>
    <form method="post" th:method="DELETE" th:action="@{/persons/delete/{id}(id=${person.id})}">
        <input type="submit" class="btn btn-danger" value="Удалить">
    </form>
</div>
</body>
</html>
