<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список домов</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #000000;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #4D82FE;
        }
    </style>
</head>
<body>
<h1>Список домой</h1>
<form action="/houses/search" method="get">
    <label for="search">Поиск по адресу:</label>
    <input type="text" id="search" name="address">
    <button type="submit">Искать</button>
</form>

<table border="1">
    <tr>
        <th>Адрес</th>
        <th>Количество комнат</th>
        <th>Тип</th>
    </tr>
    <tr th:each="house : ${houses}">
        <td>
            <a th:href="@{/houses/{id}(id=${house.getId()})}" th:text="${house.getAddress()}"></a>
        </td>
        <td th:text="${house.getBedrooms()}"></td>
        <td th:text="${house.getType()}"></td>
    </tr>
</table>

<a href="/houses/new">Создать новый дом</a>
</body>
</html>
