<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о доме</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Информация о доме</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Address</th>
                <th>Bedrooms</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${house.id}"></td>
                <td th:text="${house.address}"></td>
                <td th:text="${house.bedrooms}"></td>
                <td th:text="${house.type}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/houses/{id}/edit(id=${house.id})}" class="btn btn-primary">Edit</a>
    <form method="post" th:method="DELETE" th:action="@{/houses/delete/{id}(id=${house.id})}">
        <input type="submit" class="btn btn-danger" value="DELETE">
    </form>

</div>
</body>
</html>
