<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить машину</title>
</head>
<body>
<h1>Изменить машину</h1>
<form method="post" th:method="POST" th:action="@{/cars/update/{id}(id=${car.id})}" th:object="${car}">
    <label for="make">Марка машины</label>
    <input type="text" id="make" th:field="*{make}">
    <br/>
    <label for="model">Модель машины</label>
    <input type="text" id="model" th:field="*{model}">
    <br/>
    <label for="year">Год выпуска</label>
    <input type="number" id="year" th:field="*{year}">
    <br/>
    <input type="submit" value="Сохранить данные">
</form>
</body>
</html>
